.article-comment-card a {
    color: black;
}

.article-comment-card-container {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1rem;
	margin-left: 20%;
	margin-right: 20%;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
.article-comment-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    }
}

.comment-card-border {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-radius: 5px;
    
}

.article-comment-card-name {
    display: flex;
	flex-flow: row;
	align-items: flex-start;
    color: black;
	padding-top: 8px;
    font-size: 16px;
    padding-top: 10px;
    padding: 8px 10px;
}

.article-comment-card-content {
    display: flex;
	flex-flow: row;
	justify-content: start;
	align-items: center;
    font-size: 16px;
    padding: 2px 50px;
}

.item-flex-end {
	align-self: flex-end;
}

.container-flex-end {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 0.5rem;
}