.article-comment-card a {
    color: black;
}

.article-comment-card-container {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1rem;
	margin-left: 20%;
	margin-right: 20%;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
.article-comment-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    }
}

.comment-card-border {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-radius: 5px;
    
}

.article-comment-card-btn-delete {
    font-size: 1rem;
    font-weight: light;
    align-items: center;
    align-self: center;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.article-comment-card-name {
    display: flex;
	flex-flow: row;
	align-items: flex-start;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.article-comment-card-content {
    display: flex;
	flex-flow: row;
	justify-content: start;
	align-items: center;
    font-size: 1rem;
    padding: 0.2rem 3.6rem;
}

.item-flex-end {
	align-self: flex-end;
}

.container-flex-end {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 0.5rem;
}