.article-card-title {
    display: flex;
	flex-flow: row;
	// justify-content: center;
	// align-items: center;
	padding-top: 14px;
    padding-left: 8px;
    padding-bottom: 10px;
}

.article-card a {
    color: black;
}

.article-card-summary {
    display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
    font-size: 1rem;
    padding: 2px 10px;
}

.article-card-author-name {
    display: flex;
	flex-flow: row;
	align-items: flex-start;
    color: black;
	padding-top: 8px;
    font-size: 1rem;
    padding-top: 10px;
    padding: 8px 10px;
}

.article-card-date {
    display: flex;
	flex-flow: row;
	align-items: flex-end;
    color: #777;
	padding-top: 12px;
    font-size: 0.9rem;
    padding: 8px 10px;
}

.article-card-flex-end {
    display: flex;
	flex-flow: row;
    -ms-flex-align: end;
	align-items: flex-start;
}

.container-row-primary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 14px;
}

.article-card-btn-bookmark {
    font-size: 1.2rem;
    margin-top: 10%;
    font-weight: light;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: ease 0.2s;
}

.article-card-btn-bookmark:hover {
    background-color: #f1f1f1;
}

.article-card-btn-item {
    align-self: flex-end;
}

.yellow-icon {
    color: #FFBF00;
}

.article-card-author-avatar {
    display: flex;
    flex-flow: row;
	align-items: center;
    margin-top: 3px;
    margin-left: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.article-card-bookmark-btn-end {
	align-self: flex-end;
	padding-right: 0.5rem;
}

.container-article-card-bookmark {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 0.5rem;
}

.flex-btn-end {
	align-self: flex-end;
}

.flex-btn-end-item {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
}

.article-card-btn-emergencyrate-1 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 1rem;
    transition: ease 0.2s;
  }
  
.article-card-btn-emergencyrate-1:hover {
    color: white;
    background-color: rgb(249, 111, 109);
}

.article-card-btn-emergencyrate-2 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 132, 0);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 1rem;
    transition: ease 0.2s;
  }
  
.article-card-btn-emergencyrate-2:hover {
    color: white;
    background-color: rgb(247, 144, 53);
}

.article-card-btn-emergencyrate-3 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(101, 101, 101);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 1rem;
    transition: ease 0.2s;
  }
  
.article-card-btn-emergencyrate-3:hover {
    color: white;
    background-color: rgb(209, 211, 209);
}

.article-card-btn-status-1 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(34,139,34);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 1rem;
    transition: ease 0.2s;
  }
  
.article-card-btn-status-1:hover {
    color: white;
    background-color: rgb(76,187,23);
}

.article-card-btn-status-2 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(101, 101, 101);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 1rem;
    transition: ease 0.2s;
  }
  
.article-card-btn-status-2:hover {
    color: white;
    background-color: rgb(209, 211, 209);
}