.article-details-title {
  display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	padding-top:40px;
}

.article-details-content {
  display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding-top: 14px;
  	padding-left: 8px;
  	padding-bottom: 10px;
	margin: 20px 80px 80px 80px;
}

.article-details-author-row {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.container-col-article-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 5rem;
	margin-left: 20%;
	margin-right: 20%;
  }

  .article-details-cover {
	  object-fit: cover;
  }

  .article-card-cover {
	object-fit: cover;
	max-height: 300px;
}

.article-detials-col-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 20%;
	margin-right: 20%;
}

@media screen and (max-width: 500px) {
  .container-col-article-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    }

	.article-detials-col-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 20%;
		margin-right: 20%;
	}
}



/* Style The Dropdown Button */
.license-btn .dropbtn {
	background-color: transparent;
	color: black;
	width: 12rem;
	font-size: 1rem;
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0.25);
 	border-width: 1px;
	margin-top: 1rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .license-btn .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .license-btn .dropdown-content {
	display: none;
	position: absolute;
	width: 12rem;
	background-color: #f9f9f9;
	border-radius: 5px;
	z-index: 1;
  }
  
  .license-btn .dropdown-content button {
	display: block;
	background-color: white;
	width: 12rem;
	padding: 10px;
	font-size: 15px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
  }
  
  .license-btn .dropdown-content button:hover {
	background-color: #f1f1f1;
  }
  
  .license-btn .dropdown:hover .dropdown-content {
	display: block;
  }

  .container-row-license {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
  }

  .container-row-license-item {
	align-self: flex-end;
	padding: 1rem 1rem 1rem 0rem;
  }

  .license-btn-info {
	font-size: 1rem;
	margin-top: 10%;
	font-weight: light;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	transition: ease 0.2s;
  }

  .container-col-text-input-create {
	padding: 1rem 1rem 1rem 0rem;
  }